on:
  pull_request:
    branches: [ main ]

jobs:
  msgram_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Rodar a action do Msgram
        uses: ./ # Uses an action in the root directory
        id: msgram
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          projectKey: "fga-eps-mds_2023-1-MeasureSoftGram-Front"
          msgramServiceToken: ${{ secrets.MSGRAM_SERVICE_TOKEN }}
          productName: "MeasureSoftGram"